@import 'variables';

* {
    box-sizing: border-box;
}

body {
    padding: 24px;
    margin: 0;
    background: var(--plugin-bg);
    color: var(--plugin-primary-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

button {
    background: var(--button-bg);
    color: var(--button-label);
    border-radius: 4px;
    border: var(--button-border);
    outline: none;
    padding: 4px 8px;
    cursor: pointer;
}

textarea {
    display: block;
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    width: 100%;
    height: auto;
    background: var(--output-bg);
    color: var(--output-text);
    min-height: 350px;
    margin-bottom: 8px;
}

select {
    background: var(--select-bg);
    color: var(--select-label);
    border-radius: 4px;
    border: var(--select-border);
    outline: none;
    padding: 4px 8px;
    cursor: pointer;
}

.theme-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .options {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
